@media (min-width: 100px) {
  .container {
    display: grid;
    gap: 10px;
    background-color: black;
    padding: 10px;
  }
}
@media (min-width: 100px) {
  .container {
    grid-template-areas:
      "header header"
      "advert content"
      "footer footer";
  }
}

@media (min-width: 100px) {
  .container {
    display: grid;
    gap: 10px;
    background-color: white;
    padding: 10px;
  }
}
@media (min-width: 100px) {
  .container {
    grid-template-areas:
      "header header"
      "advert content"
      "footer footer";
  }
}
