@media (min-width: 100px)
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
  .container {
    display: grid;
    gap: 10px;
    background-color: black;
    padding: 10px;
  }
}
@media (min-width: 100px) 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
  .container {
    grid-template-areas:
      "header header"
      "advert content"
      "footer footer";
  }
}

@media (min-width: 100px)
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
  .container {
    display: grid;
    gap: 10px;
    background-color: white;
    padding: 10px;
  }
}
@media (min-width: 100px)
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3){
  .container {
    grid-template-areas:
      "header header"
      "advert content"
      "footer footer";
  }
}
